* {
    box-sizing: border-box;
}

.li{
    list-style: none; 
}

.item , .item-drop{
    position: relative;
}

.link, .item-drop .link-drop, .item-sec-drop .link-sec{
    color: white;
    font-size: 20px;
    padding: 20px;
    display: block;
    background-color:darkcyan;
    text-decoration: none;
}

.item-drop .link-drop, .item-sec-drop .link-sec{
    width: 300px;
}

.left {
    float: left;
}

.right{
    float:right;
}

.clearfix::after{
    clear: both;
    display: block;
    content: "";
}

.link:hover, .item:hover .link, .item-drop:hover .link-drop, .item-sec-drop:hover  .link-sec{
    background-color:cadetblue;
    color: #000000;
}

.list-drop{
    display: none;
    position: absolute;
    left: 0;
}

.list-sec-drop {
    display: none;
    position: absolute;
    left: 300px;
    top: 0;
}

.item:hover .list-drop, .item-drop:hover .list-sec-drop {
    display: block;
}

